<section id="intro">
    <div class="container">
        <div class="row">
            <div class="span6">
                <h2><strong>CXC Logistics <span class="highlight primary">Training and Education</span></strong></h2>
                <p class="lead">
                    Welcome to the CXC Logistics Employee Portal
                </p>
                @*<ul class="list list-ok strong bigger">
                        <li>100% Compatible with twitter bootstrap</li>
                        <li>Valid HTML5 code and well structured</li>
                        <li>Really updatable and easy to customize</li>
                    </ul>*@
            </div>
            @*<div class="span6">
                    <div class="group section-wrap upper" id="upper">
                        <div class="section-2 group">
                            <ul id="images" class="rs-slider">
                                <li class="group">
                                    <a href="#">
                                        <img src="assets/img/slides/refine/slide1.png" alt="" />
                                    </a>
                                </li>
                                <li class="group">
                                    <a href="#" class="slide-parent">
                                        <img src="assets/img/slides/refine/slide2.png" alt="" />
                                    </a>
                                </li>
                                <li class="group">
                                    <img src="assets/img/slides/refine/slide3.png" alt="" />
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>*@
        </div>
    </div>
</section>
